body {
	margin: 0;
	padding: 0;
}

.nav {
	text-align: center;
	margin: 25.5px auto;
}

.nav-ref {
	text-decoration: none;
	color: #FF0000;
}

.nav-link {
	display: inline;
	color: #FF0000;
	list-style-type: none;
	margin: 25.5px 72px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	align-items: center;
	letter-spacing: 2.7px;
}

.image {
	width: 100%;
}

.title {
	margin-top: 49px;
	margin-bottom: 0px;
	font-family: 'Montserrat';
	font-style: normal;
	color: #373737;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	text-align: center;
}

.info,
.info-part {
	margin: 38px 67.5px 0px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 2.4px;
	color: #373737;
}

.info-part {
	margin-top: 28px;
}

.btn {
	display: block;
	background: #FF0000;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 66px;
	padding: 18px 43.5px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 12px;
	align-items: center;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
}

.footer-info {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	letter-spacing: 2.4px;
	color: #373737;
	text-align: right;
	margin: 82px 105px 28px auto;
}